---
import type { MarkdownHeading } from 'astro'
import type { CollectionEntry } from 'astro:content'
import HeadCommon from '../components/HeadCommon.astro'
import HeadSEO from '../components/HeadSEO.astro'
import Header from '../components/Header/Header.astro'
import PageContent from '../components/PageContent/PageContent.astro'
import LeftSidebar from '../components/LeftSidebar/LeftSidebar.astro'
import RightSidebar from '../components/RightSidebar/RightSidebar.astro'
import Footer from '../components/Footer/Footer.astro'
import { EDIT_URL, SITE } from '../consts'

type Props = CollectionEntry<'docs'>['data'] & {
  headings: MarkdownHeading[]
}

const { headings, ...data } = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const currentPage = Astro.url.pathname
const currentFile = `src/content/docs${currentPage.replace(/\/$/, '')}.mdx`
const editUrl = `${EDIT_URL}/${currentFile}`
---

<html dir={data.dir} lang={data.lang} class="initial">
  <head>
    <HeadCommon />
    <HeadSEO {...data} canonicalUrl={canonicalURL} />
    <title>
      {`${data.title} 🚀 ${SITE.title}`}
    </title>
    <meta name="algolia-site-verification"  content="4D2C919F923425A0" />
  </head>

  <body class="  w-full grid grid-rows-[var(--theme-navbar-height)_1fr]">
    <Header currentPage={currentPage} />
    <main class="grid grid-cols-[minmax(var(--gutter),1fr)_minmax(0,var(--max-width))_minmax(var(--gutter),1fr)] overflow-x-hidden md:grid-cols-[20rem_minmax(0,var(--max-width))] md:gap-4 lg:grid-cols-[20rem_minmax(0,var(--max-width))_18rem] lg:px-0 lg:mx-auto">
      <aside id="grid-left" class="grid-sidebar fixed bg-[var(--theme-bg)] z-10 hidden md:flex md:sticky md:pl-8" title="Site Navigation">
        <LeftSidebar currentPage={currentPage} />
      </aside>
      <div id="grid-main" class="p-[var(--doc-padding)_var(--gutter)] col-span-2 md:col-span-1 flex flex-col h-full">
        <PageContent title={data.title} headings={headings} editUrl={editUrl}>
          <slot />
        </PageContent>
      </div>
      <aside id="grid-right" class="hidden grid-sidebar lg:flex lg:col-span-1" title="Table of Contents">
        <RightSidebar headings={headings} editUrl={editUrl} />
      </aside>
    </main>
    <Footer path={currentFile} />
  </body>
</html>